.Header {
    padding: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    border-bottom: 1px solid gray;
}

#logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;
}

#logo img {
    height: 10vh;
    width: auto;
}

.menu-bar {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav-computer {
    display: inline-block;
    width: 100%
}

.nav-computer button {
    font-size: 24px;
    padding: 10px 20px;
    margin: 3px 3px;
    width: 20%;
    border: none;
}

.menu-toggle {
    font-size: 18px;
    background: none;
    border: none;
    width: 90%;
    margin: 5px;
}

.nav-mobile {
    width: 100%
}

.nav-mobile button {
    font-size: 16px;
    padding: 10px;
    margin: 0 0 5px 0;
    width: 90%;
    border: none;
}
